.demo-full-width {
  width: 48%;
}

tbody tr:hover {
  background: #eeeeee;
  cursor: pointer;
}

.tr-item {
  cursor: pointer;
}

.fa-check {
  color: forestgreen;
}

.fa-close, .fa-thumbs-o-up {
  color: red;
}

.fa-thumbs-o-up {
  color: blue;
}
